
# =============================================================================
# Bot Config
# =============================================================================

# --- Server ---
APP_CONFIG__RUN__HOST=0.0.0.0
APP_CONFIG__RUN__PORT=8000

APP_BOT__TOKEN=your_bot_token

# =============================================================================
# Admin Config
# =============================================================================

APP_BOT__ADMIN_IDS=[123456789]

# =============================================================================
# Google Sheets Config
# =============================================================================

APP_GOOGLE__CREDS_PATH=bot/google/creds.json
APP_GOOGLE__SHEET_NAME=lead_bot_sheet


# =============================================================================
# Webhook Config
# =============================================================================

APP_WEBHOOK__URL=webhook_url


# =============================================================================
# Docker Compose Variables
# =============================================================================

POSTGRES_DB=leadflow_bot
POSTGRES_USER=leadflow_bot_user
POSTGRES_PASSWORD=leadflow_password_secure_123

PGADMIN_DEFAULT_EMAIL=admin@admin.org
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_CONFIG_SERVER_MODE=False


# =============================================================================
# Application Config
# =============================================================================

# --- Server ---
APP_CONFIG__RUN__HOST=0.0.0.0
APP_CONFIG__RUN__PORT=8000

# APP_DB__URL=postgresql+asyncpg://leadflow_bot_user:leadflow_password_secure_123@pg:5432/leadflow_bot
APP_DB__URL=postgresql+asyncpg://leadflow_bot_user:leadflow_password_secure_123@localhost:5432/leadflow_bot
APP_CONFIG__DB__ECHO=True
APP_CONFIG__DB__ECHO_POOL=False
APP_CONFIG__DB__POOL_SIZE=5
APP_CONFIG__DB__MAX_OVERFLOW=10